div#wrapper {
  width: max-content;
  padding: 20px 10px;
  border: 2px solid #ccc;
}

#title {
  height: 70px;
  display: flex;
  justify-content: center;
  font-size: 18px;
  font-weight: bold;
  color: #444;
  border-bottom: 1px solid #000;
}

#inputRow {
  display: flex;
  width: 100%;
  margin: 10px 0;
}

#label {
  width: 200px;
  font-size: 12px;
  color: #888;
  font-weight: bold;
  > span {
    color: rgb(0, 164, 240);
    font-weight: bold;
  }
}
#inputWrapper {
  > input {
    width: 500px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
  }
  > p {
    font-size: 11px;
    height: 10px;
    line-height: 3px;
    color: #888;
  }
}

#selectWrapper {
  > input {
    width: 100px;
    height: 25px;
    border-style: solid;
    border-width: 1px;
    border-color: #cecece;
  }
  > select {
    width: 100px;
    height: 29px;
    border-style: solid;
    border-width: 1px;
    margin-left: 0;
    border-color: #cecece;
  }
}

#checkBoxWrapper {
  margin: 20px 0 50px 0;
}

#mainCheck {
  display: flex;
  height: 30px;
  align-items: center;
  margin-top: 50px;

  > input[type="checkbox"] {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
  > span {
    font-size: 11px;
    margin-left: 10px;
    color: #666;
  }
}

#subCheck {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;

  div > span {
    font-size: 11px;
    color: #666;
    margin-left: 8px;
  }
  a {
    font-size: 12px;
    color: #999;
  }
}

#flexRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
  a {
    font-size: 12px;
    color: #999;
  }
}

#submitBtnWrapper {
  display: flex;
  justify-content: center;

  > #submitBtn {
    background-color: #333;
    width: 180px;
    height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
