<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        div {
            border: 1px solid #000;
            padding: 20px;
            width: 100%;
        }
    </style>
</head>
<body>
    <div>
        <h1>시애틀에서 아이팟 비디오</h1>
        <img src="../../images/seattle_video.jpg" alt="video" />

        <a href="../myGear/index.html" >
            <h3>돌아가기</h3>
        </a>
    </div>
</body>
</html>