#wrap {
    font-family: verdana, sans-serif;

    > h1 {
        color: #aaa;
    }
    > p {
        font-size: 20px;
    }
    > a {
        color: #333;
        text-decoration: none;
    }
    h2 {
        color: rgba(0,0,255, 0.6);
    }
    ul {
        font-weight: bold;
        line-height: 2;
    }
}