#wrapper {
    width: 800px;
    height: 800px;
    margin: 20px;
    padding: 20px;
    border: 2px solid #000;

    #imgRow {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;

        img {
            border-radius: 10px;
        }
    }
    ul > ol > li:nth-child(1) {
        background-color: mark ;
        width: fit-content;
    }
    ul > ol > li:nth-child(2) {
        background-color: mark ;
        width: fit-content;
    }
    ul > ol > li:last-child {
        text-decoration: line-through;
    }
    table {
        width: 500px;
        list-style: none;
        border-top: 2px solid grey;
        border-bottom: 1px solid grey;
        border-collapse:collapse;
        border-bottom: 1px solid grey;
        
        th {
            background-color: #8bd0ff;
            color: rgb(16, 48, 119);
            height: 30px;
            font-size: 14px;
        }
        tr {
            height: 35px;
            font-size: 12px;
            text-align: center;
            border-bottom: 1px solid rgb(218, 218, 218);
        }
    }
}